# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [33]:
#import numpy and pandas
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine
from scipy.stats import tmean, mode, fisher_exact
import matplotlib.pyplot as plt

# Challenge 1 - The `stats` Submodule

This submodule contains statistical functions for conducting hypothesis tests, producing various distributions and other useful tools. Let's examine this submodule using the KickStarter dataset. Load the data using Ironhack's database (db: kickstarter, table: projects).

In [3]:
# Your code here:
driver   = 'mysql+pymysql:'
#user     = 'data-students'
#password = 'iR0nH@cK-D4T4B4S3'
#ip       = '34.65.10.136'
user      = 'root'
password  = 'urv19871028'
ip        = '127.0.0.1'
database = 'kickstarter'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
print(connection_string)
engine = create_engine(connection_string)
print(engine)
df = pd.read_sql('SELECT * FROM projects;', engine)
df.shape

mysql+pymysql://root:urv19871028@127.0.0.1/kickstarter
Engine(mysql+pymysql://root:***@127.0.0.1/kickstarter)

(378661, 16)

Now print the `head` function to examine the dataset.

In [4]:
# Your code here:
df.head()

,index,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

Import the `mode` function from `scipy.stats` and find the mode of the `country` and `currency` column.

In [6]:
# Your code here:
country = mode(df['country'])
country

ModeResult(mode=array(['US'], dtype=object), count=array([292627]))

In [7]:
currecny = mode(df['currency'])
currecny

ModeResult(mode=array(['USD'], dtype=object), count=array([295365]))

The trimmed mean is a function that computes the mean of the data with observations removed. The most common way to compute a trimmed mean is by specifying a percentage and then removing elements from both ends. However, we can also specify a threshold on both ends. The goal of this function is to create a more robust method of computing the mean that is less influenced by outliers. SciPy contains a function called `tmean` for computing the trimmed mean. 

In the cell below, import the `tmean` function and then find the 75th percentile of the `goal` column. Compute the trimmed mean between 0 and the 75th percentile of the column. Read more about the `tmean` function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.tmean.html#scipy.stats.tmean).

In [9]:
df.describe()

,index,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,378661.000000,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,189330.000000,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,109310.159478,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,0.000000,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,94665.000000,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,189330.000000,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,283995.000000,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,378660.000000,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

In [17]:
# Your code here:
q3 = tmean(df.goal, (0,16000))
q3

4874.150287106898

#### SciPy contains various statistical tests. One of the tests is Fisher's exact test. This test is used for contingency tables. 

The test originates from the "Lady Tasting Tea" experiment. In 1935, Fisher published the results of the experiment in his book. The experiment was based on a claim by Muriel Bristol that she can taste whether tea or milk was first poured into the cup. Fisher devised this test to disprove her claim. The null hypothesis is that the treatments do not affect outcomes, while the alternative hypothesis is that the treatment does affect outcome. To read more about Fisher's exact test, see:

* [Wikipedia's explanation](http://b.link/test61)
* [A cool deep explanation](http://b.link/handbook47)
* [An explanation with some important Fisher's considerations](http://b.link/significance76)

Let's perform Fisher's exact test on our KickStarter data. We intend to test the hypothesis that the choice of currency has an impact on meeting the pledge goal. We'll start by creating two derived columns in our dataframe. The first will contain 1 if the amount of money in `usd_pledged_real` is greater than the amount of money in `usd_goal_real`. We can compute this by using the `np.where` function. If the amount in one column is greater than the other, enter a value of 1, otherwise enter a value of zero. Add this column to the dataframe and name it `goal_met`.

In [30]:
# Your code here:
df['goal_met'] = np.where(df.usd_pledged_real>df.usd_goal_real, 1, 0)
df['goal_met'].value_counts()

0    245815
1    132846
Name: goal_met, dtype: int64

Next, create a column that checks whether the currency of the project is in US Dollars. Create a column called `usd` using the `np.where` function where if the currency is US Dollars, assign a value of 1 to the row and 0 otherwise.

In [31]:
# Your code here:
df['usd'] = np.where(df.currency=='USD', 1, 0)
df['usd'].value_counts()

1    295365
0     83296
Name: usd, dtype: int64

Now create a contingency table using the `pd.crosstab` function in the cell below to compare the `goal_met` and `usd` columns.

In [32]:
crosstab = pd.crosstab(df.goal_met, df.usd)
crosstab

usd           0       1
goal_met
0         58685  187130
1         24611  108235

Import the `fisher_exact` function from `scipy.stats` and conduct the hypothesis test on the contingency table that you have generated above. You can read more about the `fisher_exact` function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.fisher_exact.html#scipy.stats.fisher_exact). The output of the function should be the odds ratio and the p-value. The p-value will provide you with the outcome of the test.

In [37]:
# Your code here:
oddsratio, pvalue = fisher_exact([[58685,187130],[24611,108235]])
print(oddsratio)
print(pvalue)

1.3791838163150314
9.78e-321

# Challenge 2 - The `interpolate` submodule

This submodule allows us to interpolate between two points and create a continuous distribution based on the observed data.

In the cell below, import the `interp1d` function and first take a sample of 10 rows from `kickstarter`.

In [38]:
# Your code here:
from scipy import interpolate

In [44]:
sample = df.sample(10)
sample

,index,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,goal_met,usd
361548,361548,912332673,"Beginnings ""Prelude to Insanity"" (Book)",Fiction,Publishing,USD,2014-08-16,10000.0,2014-07-17 03:14:23,10.00,failed,1,US,10.00,10.00,10000.0,0,1
372962,372962,970591587,Mountain Movers Clothing - Dream. Strive. Create.,Fashion,Fashion,USD,2013-05-12,3500.0,2013-04-12 03:40:50,4092.55,successful,60,US,4092.55,4092.55,3500.0,1,1
314478,314478,671683667,"Flip Slips: Foldable, Self-Containable Mary Ja...",Design,Design,USD,2012-01-30,10000.0,2011-12-01 04:41:09,200.00,canceled,6,US,200.00,200.00,10000.0,0,1
83437,83437,1424220364,Titus Andronicus by William Shakespeare,Theater,Theater,USD,2011-09-18,1000.0,2011-08-22 17:15:45,1010.00,successful,18,US,1010.00,1010.00,1000.0,1,1
363022,363022,9196706,My Pal GX-3 - Short Film,Family,Film & Video,USD,2016-04-26,8000.0,2016-03-24 05:36:14,10998.00,successful,40,US,10998.00,10998.00,8000.0,1,1
83698,83698,142560377,R'ashion Camp Zambia: Recycled Fashion Exchang...,Fashion,Fashion,USD,2011-12-26,11000.0,2011-11-21 06:09:52,11157.00,successful,47,US,11157.00,11157.00,11000.0,1,1
214282,214282,209187113,LocMeet,Mobile Games,Games,EUR,2016-12-19,64000.0,2016-11-14 06:43:11,0.00,failed,0,DE,0.00,0.00,66854.7,0,0
376848,376848,990804473,nerd. The Series,Film & Video,Film & Video,USD,2013-06-28,3000.0,2013-05-29 01:00:11,3700.69,successful,84,US,3700.69,3700.69,3000.0,1,1
51113,51113,1260329468,La Conchita Enamel Pin,Crafts,Crafts,USD,2016-11-03,360.0,2016-10-20 00:23:35,95.00,failed,8,US,50.00,95.00,360.0,0,1
155273,155273,1789706127,A Footwear Revolution to create happy feet!,Product Design,Design,USD,2013-08-31,110000.0,2013-07-09 08:11:43,4853.00,failed,57,US,4853.00,4853.00,110000.0,0,1

Next, create a linear interpolation of the backers as a function of `usd_pledged_real`. Create a function `f` that generates a linear interpolation of backers as predicted by the amount of real pledged dollars.

In [45]:
# Your code here:
f = interpolate.interp1d(sample.backers, sample.usd_pledged_real)
f

Now create a new variable called `x_new`. This variable will contain all integers between the minimum number of backers in our sample and the maximum number of backers. The goal here is to take the dataset that contains few obeservations due to sampling and fill all observations with a value using the interpolation function. 

Hint: one option is the `np.arange` function.

In [47]:
# Your code here:
x_new = np.arange(sample.backers.max())
x_new

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83])

Plot function f for all values of `x_new`. Run the code below.

In [ ]:
# Run this code:

%matplotlib inline
import matplotlib.pyplot as plt

plt.plot(x_new, f(x_new))

Next create a function that will generate a cubic interpolation function. Name the function `g`.

In [18]:
# Your code here:

In [ ]:
# Run this code:

plt.plot(x_new, g(x_new))

# Bonus Challenge - The Binomial Distribution

The binomial distribution allows us to calculate the probability of k successes in n trials for a random variable with two possible outcomes (which we typically label success and failure).  

The probability of success is typically denoted by p and the probability of failure is denoted by 1-p.

The `scipy.stats` submodule contains a `binom` function for computing the probabilites of a random variable with the binomial distribution. You may read more about the binomial distribution [here](http://b.link/binomial55)

* In the cell below, compute the probability that a dice lands on 5 exactly 3 times in 8 tries.

In [19]:
# Your code here:

* Do a simulation for the last event: do a function that simulate 8 tries and return a 1 if the result is 5 exactly 3 times and 0 if not. Now launch your simulation.

In [1]:
# Your code here:

* Launch 10 simulations and represent the result in a bar plot. Now launch 1000 simulations and represent it. What do you see?

In [2]:
# Your code here: